Fundamentals Practice/
Student Grade Tracker/
ImportantPythonInfo/
Project Management Dashboard/

__pycache__/
*.pyc
*.pyo
*.pyd

*.db
*.sqlite3
sqlite3_cheatsheet.md
sqlite3-info.txt

.prettierignore
.github/
.github/*
.instructions.md
.agent.md
.continue/
.vscode/