<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ project.title }} - Details</title>
  </head>
  <body>
    <a href="{{ url_for('home') }}"> Back to Dashboard</a>

    <h1>Project: {{ project.title }}</h1>
    <h3>
      Status:
      <form
        action="{{ url_for('update_project_status', project_id=project.id)}}"
        methods="POST"
        style="display: inline"
      >
        <select
          name="project_status"
          id="project_status"
          onchange="this.form.submit()"
        >
          <option
            value="Pending"
            {%
            if
            project.status == "Pending"
            %}selected{%
            endif
            %}
          >
            Pending
          </option>
          <option
            value="In Progress"
            {%
            if
            project.status == "In Progress"
            %}selected{%
            endif
            %}
          >
            In Progress
          </option>
          <option
            value="Complete"
            {%
            if
            project.status == "Complete"
            %}selected{%
            endif
            %}
          >
            Complete
          </option>
        </select>
      </form>
    </h3>
    {% if error %}
    <p style="color: red"><strong>{{ error }}</strong></p>
    {% endif %}

    <h3>Add a New Task</h3>
    <form
      action="{{ url_for('view_project', project_id=project.id) }}"
      method="POST"
    >
      <label for="task_title">Task Title:</label>
      <input type="text" id="task_title" name="task_title" required />

      <label for="task_priority">Priority:</label>
      <select id="task_priority" name="task_priority">
        <option value="High">High</option>
        <option value="Moderate">Moderate</option>
        <option value="Low">Low</option>
      </select>

      <label for="task_due_date">Due Date:</label>
      <input type="date" id="task_due_date" name="task_due_date" required />

      <button type="submit">Add Task</button>
    </form>
    <hr />

    <h2>Tasks</h2>
    {% if tasks %}
    <ul>
      {% for task in tasks %}
      <li>
        <strong>{{ task.title }}</strong>
        (Priority: {{ task.priority }} | Due: {{ task.due_date }}) - 
        
        <form action="{{ url_for('toggle_task', task_id=task.id, project_id=project.id) }}" method="POST" style="display:inline;">
            <button type="submit">{% if task.completed %} Completed {% else %} In Progress {% endif %}
            </button>
        </form>
        
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No tasks assigned to this project yet.</p>
    {% endif %}
  </body>
</html>
